<div class="m-portlet" [ngClass]="{ 'm-portlet--body-progress' : viewLoading, 'm-portlet--body-progress-overlay' : loadingAfterSubmit }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
							<i class="la la-gear"></i>
						</span>
                <h3 class="m-portlet__head-text">sevDesk Müşteri Aktarma İşlemi</h3>
            </div>
        </div>
    </div>

    <div class="m-form">
        <div class="m-portlet__body">
            <ngb-progressbar [showValue]="true" type="info" [value]="pValue"></ngb-progressbar>
            <hr>
            <div *ngIf="pValue != 100">
                <p> Bu işlem yaklaşık <strong>{{halfTime.h}} saat {{halfTime.m}} dakika {{halfTime.s}} saniye</strong> sürecek...</p>
            </div>
            <div *ngIf="pValue == 100">
                <strong>İşlem başarıyla tamamlandı.</strong> İşlem sonuçlarını görüntüleyin:
            </div>
            <hr>
            <div>
                <mat-chip-list class="mat-chip-list-stacked">
                    <mat-chip *ngFor="let item of items" selected="true" [color]="item.color">
                        {{item.name}}
                    </mat-chip>
                </mat-chip-list>
            </div>

        </div>

        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row text-right">
                    <div class="col-lg-12">
                        <button *ngIf="pValue != 100" type="button" mat-raised-button cdkFocusInitial (click)="onCancel()" matTooltip="İşlemi iptal et">
								<span translate="BUTTON.CANCEL">İptal et</span>
						</button>
                        <button *ngIf="pValue == 100" type="button" color="primary" mat-raised-button cdkFocusInitial (click)="onCancel()" matTooltip="İşlem Tamam">
							<span>Tamam</span>
						</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>