.balamir-loading-indicator {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.balamir-loading-indicator h5 {
    text-align: center;
    margin: 20px;
}

.balamir-loading-indicator p {
    text-align: center;
    margin: 15px;
}