<div class="m-portlet">


    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">Depo Oluştur</h3>
            </div>
        </div>
    </div>


    <div class="m-portlet__body">

        <div class="m-form__section m-form__section--first">
            <div class="m-form__group row">
                <div class="mat-form-field">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Depo Adı" />
                    </mat-form-field>
                </div>
            </div>
        </div>

    </div>

</div>