<strong>Son güncelleme: 09-10-2018 - 11:06</strong><br><br>
<ul>
    <li><strong>[ Müşteri Modülü ]</strong> - Bayan/Erkek secimi eklendi.</li>
    <li><strong>[ Müşteri Modülü ]</strong> - Suchname alani eklendi.</li>
    <li><strong>[ Ürün Modülü ]</strong> - Ürün kodu eklendi.</li>
    <li><strong>[ Ürün Modülü ]</strong> - Alis fiyati eklendi.</li>
    <li><strong>[ Ürün Modülü ]</strong> - Barkod ozelligi & Birimler Fiyatlar sekme tasarimi duzenlendi.</li>
    <li><strong>[ Ürün Modülü ]</strong> - Marka model entegresi yapıldı.</li>
    <li><strong>[ Siparis Modülü ]</strong> - Panele entegre edildi. (beta)</li>
</ul>

<p>
    <strong style="color: red">
		Güncellemeler görünmüyorsa F5 yapınız (sayfayı yenileyin) veya tarayıcı geçmişini temizleyin.
	</strong>
</p>